[submodule "themes/PaperModX"]
	path = themes/PaperModX
	url = https://github.com/reorx/hugo-PaperModX.git
[submodule "reference/git-sub-module"]
	path = reference/git-sub-module
	url = https://github.com/reorx/hugo-PaperModX.git
